ul[b-ndvicjobjs] {
  list-style: none;
}
.complete-task[b-ndvicjobjs] {
  text-decoration: line-through;
  color: gray;
}
.in-process-card[b-ndvicjobjs] {
  border: 1px solid grey;
  box-shadow: 0 0 1px 1px gray;
}
.task-card[b-ndvicjobjs] {
  padding: 20px;
  flex: 1;
  max-width: 300px;
}
.done-card[b-ndvicjobjs] {
  border: 1px solid green;
  box-shadow: 0 0 1px 1px green;
}
.task-list[b-ndvicjobjs] {
  display: flex;
  gap: 20px;
  /* justify-content: center; */
  margin-top: 20px;
  flex-wrap: wrap;
  font-size: 25px;
}
